:root {
  color-scheme: dark;
  accent-color: var(--native-dark-accent-color);
}

html a:visited,
html a:visited > *:not(svg) {
  color: var(--native-dark-visited-link-color) !important;
}

a[ping]:link,
a[ping]:link > *:not(svg),
:link:not(cite) {
  color: var(--native-dark-link-color) !important;
}

html cite,
html cite a:link,
html cite a:visited {
  color: var(--native-dark-cite-color) !important;
}

img,
image,
figure:empty {
  opacity: var(--native-dark-opacity) !important;
  border-radius: 0.375rem !important;
}

button[id="openModelFolderButton"] span span[class="ng-binding"],
button[id="zoomToFitButton"] span[class="ng-binding"],
#pathFilterPanel {
  color: var(--native-dark-font-color) !important;
}
header,
.app-header.navbar,
.app-header.navbar,
.navbar-brand {
  border: none !important;
}
.navbar-brand {
  margin-left: 10px !important;
}
.body {
  background: #2f3349 !important;
}

.main {
  margin-left: 260px !important;
}

.app-body,
.main,
.breadcrumbt,
#pathFilterPanel {
  background: #25293c !important;
}

.breadcrumb.c-header.no-print > li,
.breadcrumb.c-header.no-print > li > a,
.breadcrumb-menu > div > a,
.breadcrumb-menu > div > a > i {
  color: #cfd3ec !important;
}

.breadcrumb.c-header.no-print {
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
  padding-left: 30px !important;
}

.card,
.modal-content {
  border-color: #2f3349 !important;
}

.modal-content {
  border-radius: 0.375rem !important;
}

.shadow-bg {
  box-shadow: none !important;
}
.card-header {
  color: #cfd3ec !important;
}
.card.shadow-bg.card-default,
.card-header,
html[native-dark-active] .card.bg-success {
  background-color: #25293c !important;
  border-color: #25293c !important;
  color: #cfd3ec !important;
}
.shadow-bg {
  border-radius: 16px !important;
}

.card-body.ng-scope,
.card-body {
  background: #2f3349 !important;
  border-radius: 16px !important;
  box-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, 0.1);
}

.sidebar .ng-scope {
  width: 16.25rem !important;
}
.sidebar .nav,
.nav-item,
.divider {
  width: 16.25rem !important;
}
.sidebar-nav.ng-scope {
  margin: 0px;
  padding-top: 20px !important;
  border-radius: 0px;
  background-color: #161931 !important;
  color: #c9c8ce !important;
  width: 16.25rem !important;
}
.sidebar-fixed .sidebar {
  width: 16.25rem !important;
  background: transparent !important;
}

.nav-link,
.nav-link.active,
.nav-link:hover {
  width: auto !important;
  border-radius: 0.375rem !important;
  margin: 0 0.875rem !important;
}
html[native-dark-active] .sidebar .nav-title,
span > .nav-item.nav-link > i,
span > .nav-item.nav-link,
.nav-link > span,
.nav-link.ng-scope > translate,
.nav-link.ng-scope > span,
.nav-link.nav-dropdown-toggle > span,
.nav-link.nav-dropdown-toggle > i,
.nav-link > i,
.nav-link.ng-scope > i {
  color: #c9c8ce !important;
}
.modeller-link.ng-binding,
table,
th,
tr,
td {
  color: #cfd3ec !important;
}
.nav-link.active > span,
.nav-link.active > i {
  color: #cfd3ec !important;
}
.ng-empty {
  background: #2f3349 !important;
}
.nav-link .ng-binding {
  color: #cfd3ec !important;
}
.nav-link:hover {
  background: #eaeaea !important;
  color: #cfd3ec !important;
}
.nav-link.active {
  background: linear-gradient(
    72.47deg,
    #7367f0 22.16%,
    rgba(115, 103, 240, 0.7) 76.47%
  ) !important;
  box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.48) !important;
  color: #fff !important;
}
footer {
  display: none !important;
}

html[native-dark-active] .table td,
html[native-dark-active] .table th {
  background: #2f3349 !important;
  padding-bottom: 20px !important;
}
html[native-dark-active] .table td {
  padding: 10px !important;
}
tr {
  border: none !important;
  border-bottom: 1px solid #2f3349 !important;
  border-left: none !important;
  border-right: none !important;
}
.btn {
  font-weight: bold !important;
}
.btn-primary,
.badge-primary,
.badge-pill,
.page-item.active > .page-link,
.btn.btn-primary.shadow-bg {
  color: #fff !important;
  background-color: #7367f0 !important;
  border-color: #7367f0 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3) !important;
}
.btn-secondary {
  color: #fff !important;
  background-color: #a8aaae !important;
  border-color: #a8aaae !important;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3) !important;
}
.btn-success {
  color: #fff !important;
  background-color: #28c76f !important;
  border-color: #28c76f !important;
}
.btn-warning {
  color: #fff !important;
  background-color: #ff9f43 !important;
  border-color: #ff9f43 !important;
}
.btn-danger,
.ui-button {
  color: #fff !important;
  background-color: #ea5455 !important;
  border-color: #ea5455 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3) !important;
}
html[native-dark-active] .text-red.validation-invalid {
  color: #fd5d93 !important;
}

.dropdown.form-inline.ng-scope {
  border-color: hsla(0, 0%, 100%, 0.1) !important;
  margin-left: 32px !important;
}
.dropdown-menu,
.ui-dialog {
  border-color: #2f3349 !important;
  background: #2f3349 !important;
  border-radius: 0.375rem !important;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.3) !important;
}
.dropdown-header,
.dropdown-item,
#ui-view
  > div
  > main
  > div
  > ui-view
  > div
  > div
  > div.card-header.ng-binding
  > div
  > div
  > div
  > a {
  border-color: #2f3349 !important;
  color: #cfd3ec !important;
}
.form-control:disabled {
  background: #344675 !important;
}
.ui-dialog-buttonpane {
  border: none !important;
  margin: 0 !important;
}

canvas {
  background: #e0ddd7 !important;
}

.switch.switch-text.switch-primary > .switch-input:checked ~ .switch-label {
  background: #7367f0 !important;
  border: none !important;
}
.card-header {
  border: none !important;
}
.row,
.card.ml-2,
.card.mr-2 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
div.card-body.text-center.p-0 {
  margin-right: 10px !important;
}

.progress {
  background: #344675 !important;
}
.progress-bar {
  background: #1d8cf8;
  background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
}
.nav-item.dropdown.d-md-down-none.ng-scope {
  width: 50px !important;
}

#ui-view > header > form > div > input,
#ui-view > header > form > div > button,
#ui-view
  > header
  > div
  > project-context
  > div
  > div.tree-container
  > ngx-treeview
  > div.treeview-header
  > div.dropdown-divider {
  border-color: #dbdade !important;
}

#ui-view
  > header
  > div
  > project-context
  > div
  > div.tree-container
  > ngx-treeview
  > div.treeview-header
  > div.row.row-filter
  > div
  > input {
  border-color: #dbdade !important;
  width: 90% !important;
}

#ui-view
  > header
  > div
  > project-context
  > div
  > div.tree-container
  > ngx-treeview
  > div.treeview-header
  > div.dropdown-divider {
  margin: 10px !important;
  margin-top: 20px !important;
}
#ui-view > div > div > nav > ul > span > li > a:hover:not(.active),
#ui-view > div > div > nav > ul > span > li.nav-item > a:hover:not(.active),
#ui-view > div > div > nav > ul > li > a:hover,
#ui-view
  > div
  > div
  > nav
  > ul
  > li.nav-item.nav-dropdown.open
  > ul
  > li
  > a:hover {
  background: #2d3253 !important;
}
#ui-view > div > div > nav > ul > span > li > a.active,
#ui-view > div > div > nav > ul > span > li > a.active > i,
#ui-view > div > div > nav > ul > span > li > a.active > span,
#ui-view > div > div > nav > ul > li > a.active > i,
#ui-view > div > div > nav > ul > li > a.active > span,
#ui-view > div > div > nav > ul > li > ul > li > a > i,
#ui-view > div > div > nav > ul > li > ul > li > a > span {
  color: #fff !important;
}
#ui-view
  > div
  > main
  > div
  > ui-view
  > div
  > div
  > div
  > div
  > ul
  > li
  > .nav-link.active
  uib-tab-heading,
#ui-view
  > div
  > main
  > div
  > ui-view
  > div
  > div
  > div
  > div
  > ul
  > li
  > .nav-link.active {
  background-color: #7367f0 !important;
  color: #fff !important;
  border-color: #7367f0 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
}
#ui-view
  > div
  > main
  > div
  > ui-view
  > div
  > div
  > div
  > div
  > ul
  > li
  > .nav-link:hover {
  border: none !important;
}
.tab-content {
  border: none !important;
}
#ui-view
  > div
  > main
  > div
  > ui-view
  > div
  > div
  > div
  > div
  > div
  > div.tab-pane.ng-scope.active
  > div
  > div
  > div.card-header {
  background-color: transparent !important;
}

#ui-view
  > div
  > main
  > div
  > ui-view
  > div
  > div
  > div
  > div
  > div
  > div.tab-pane.ng-scope
  > div
  > div
  > div.card-body
  > table
  > tbody
  > tr,
#ui-view
  > div
  > main
  > div
  > ui-view
  > div
  > div
  > div
  > div
  > div
  > div.tab-pane.ng-scope
  > div
  > div
  > div.card-body
  > table
  > tbody
  > tr
  > td,
#ui-view
  > div
  > main
  > div
  > ui-view
  > div
  > div
  > div
  > div
  > div
  > div.tab-pane.ng-scope
  > div
  > div
  > div.card-body
  > table {
  border: none !important;
  border-color: #fff !important;
}
